body {
  padding: 20px;
}
.boxes {
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: lightcoral;
    border: none;
    width: 2em;
    height: 2.5em;
    float: left;
}
div {
    width: 10em;
    height: 10em;
    background: black;
    border: white;
    border-style: solid;
    border-width: 2em;
    float: left;
}
button {
    display: block;
    border:black 2px solid; 
    border-radius: 20px;
    font-size: 1em;
    padding:10px;
    color: whitesmoke;
}
